pkgbase = archlinux
	pkgdesc = Builds the Arch Linux install drive.
	pkgver = 2022.07.26
	pkgrel = 1
	url = https://gitlab.archlinux.org/archlinux/archiso/-/issues/156
	arch = i686
	arch = pentium4
	arch = x86_64
	license = AGPL3
	checkdepends = shellcheck
	makedepends = archiso-persistent-git
	makedepends = archiso-profiles-git
	makedepends = cryptsetup-nested-cryptkey
	makedepends = fakepkg
	makedepends = git
	makedepends = gnupg
	makedepends = mkinitcpio-archiso-encryption
	makedepends = polkit
	provides = archlinux-ereleng

pkgname = archlinux
